@media screen and (max-width: 768px) {
  .search-result {
    width: 45%;
  }
}
@media screen and (max-width: 480px) {
  .search-result {
    width: 100%;
  }
  form {
    flex-direction: column;
  }
  #search-input {
    margin-bottom: 20px;
    width: 75%;
  }
}
